<div class="header">
  <h1>{{title}}</h1>
</div>

<div class="container">
  <!-- left column -->
  <div class="">
    <div class="left-col">
      <div class="input-field">
        <input type="text" placeholder="First Name" [(ngModel)]="user.firstName">
      </div>
      <div class="input-field">
        <input type="text" placeholder="Last Name" [(ngModel)]="user.lastName">
      </div>
      <div class="add-btn">
        <button (click)="addUser()">Add User</button>
      </div>
    </div>

  <!-- right column -->
    <div class="right-col">
      <table>
        <thead>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
        </thead>

        <tbody>
          <tr *ngFor="let usr of users | async; let i = index">
            <td> {{i}}</td>
            <td>{{usr.firstName}}</td>
            <td>{{usr.lastName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
